# TODO add version number
#DL libraries
tensorflow >= 1.7.0
tensorflow-gpu >= 1.7.0
tensorflow-probability >= 0.3.0
tensorflow-probability-gpu >= 0.3.0
# Standard Framework
# prefer do manually
# cython3 --install-option="--no-cython-compile"
pandas
numpy
sklearn
tqdm
overrides
# image libraries
wand
pillow
opencv-python
# OCR liibs
pytesseract
pyocr
# Code Quality
flake8
# Deep Learning framework
# prefer do manually
# .[tensorflow-cpu] --install-option='-e'
# NLP
spacy
# Audio Libs
# pyAudioAnalysis
# eyed3
# pydub
# madmom
librosa
# Distributed Framework
pyspark
# sphinx doc
recommonmark
sphinx_rtd_theme
