<html>
<head>
    <title>VF Annotation Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
<img src="/static/images/logo.png">
<div class="container">
    <a href="/index">Home</a>
    <a href="/summary">Summary</a>
    <a href="/stats">Stats</a>
    <a href="/show_all_images">All_Pages</a>
    <a href="/model_selection">Model Selection</a>
    <a href="/text_extraction">Text Extraction</a>

</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>