{% extends "base.html" %}

{% block content %}

<hr class="container">
<h1>Model Performance </h1>


<h2>INPUT PARAMS</h2>

Model
<select id="model_selected">
    <option value="None">None</option>
    <option value="Fast CNN">Fast CNN</option>
</select>
<pre>

    # Goal is show how well the model is performing over the given input

    1. Drop Down menu for selection of model

    Each model - needs to have a predict.py & stuff

    2. Show the output of some 5 images for the model

</pre>

<h2>OUTPUT</h2>

<table class="table table-hover">
    <tr>
        <td><p id="row1_value1">Image 11</p></td>
        <td><p id="row1_value2">Image 12</p></td>
    </tr>
    <tr>
        <td><p id="row2_value1">Image 21</p></td>
        <td><p id="row2_value2">Image 22</p></td>
    </tr>
    <tr>
        <td><p id="row3_value1">Image 31</p></td>
        <td><p id="row3_value2">Image 32</p></td>
    </tr>
</table>


</div>

<hr>
{% endblock %}
